.single-launch-container {
  display: grid;
  grid-template-areas:
    "single-launch-info single-launch-info single-launch-info"
    "single-launch-toggler single-launch-toggler single-launch-toggler";
  grid-gap: 1rem;
  margin: 0% 10% 0% 10%;
}

.single-launch-info {
  grid-area: single-launch-info;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.single-launch-toggler {
  grid-area: single-launch-toggler;
}

.single-launch-info img {
  margin: 2rem;
}

.link-button {
  margin-right: auto;
}
