.singleLaunch-container {
  display: grid;
  grid-gap: 1rem;
  grid-template-areas:
    "singleLaunch-box1 singleLaunch-box1 singleLaunch-box1"
    "singleLaunch-table singleLaunch-table singleLaunch-table"
    "singleLaunch-toggler singleLaunch-toggler singleLaunch-toggler";
}

.singleLaunch-box1 {
  grid-area: singleLaunch-box1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.singleLaunch-box1 img {
  margin-bottom: 1rem;
}

.singleLaunch-table {
  grid-area: singleLaunch-table;
}

.singleLaunch-toggler {
  grid-area: singleLaunch-toggler;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.singleLaunch-toggler ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.singleLaunch-toggler img {
  width: 100%;
  height: 100%;
}
