.single-launch-container {
  display: grid;
  grid-template-areas:
    "single-launch-info single-launch-info single-launch-info"
    "single-launch-toggler single-launch-toggler single-launch-toggler";
  grid-gap: 1rem;
  margin: 0% 10% 0% 10%;
}

.single-launch-info {
  grid-area: single-launch-info;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.single-launch-toggler {
  grid-area: single-launch-toggler;
}

.single-launch-info img {
  margin: 2rem;
}

.single-launch-info p {
  text-align: center;
}

.link-button {
  margin-right: auto;
}

@media (max-width: 500px) {
  .single-launch-container {
    grid-template-areas:
      "single-launch-info"
      "single-launch-toggler";
  }
  .link-button {
    margin: 0;
  }
  .single-launch-info img {
    margin: 1rem 0rem 1rem 0rem;
  }
  .single-launch-info h1 {
    font-size: 1rem;
    text-align: center;
  }
}
