.single-launch-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.single-launch-images li {
  align-items: center;
}

.single-launch-images img {
  width: 300px;
  height: 300px;
  margin: 0.5rem;
}
