.about-container {
  display: grid;
  grid-gap: 1rem;
  grid-template-areas:
    "about-header about-header  about-header"
    "about-box1 about-box2 about-box3 "
    "about-details about-address about-links";
  align-items: center;
  justify-content: center;
}

.about-box1 {
  grid-area: about-box1;
}

.about-container img {
  width: 350px;
  height: 500px;
}

.about-box2 {
  grid-area: about-box2;
}

.about-box3 {
  grid-area: about-box3;
}

.about-header {
  grid-area: about-header;
}

.about-details {
  grid-area: about-details;
}

.about-address {
  grid-area: about-address;
}

.about-links {
  grid-area: about-links;
}

.about-box1,
.about-box2,
.about-box3,
.about-links,
.about-address,
.about-details,
.about-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
