.header-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0% 10% 0% 10%;
}

.header-logo img {
  width: 150px;
  height: 150px;
}

@media (max-width: 500px) {
  .header-logo {
    justify-content: center;
  }
  .header-logo img {
    width: 100px;
    height: 100px;
  }
}
