.header-container {
  display: grid;
  grid-template-areas: "links links links";
  grid-gap: 1rem;
  margin-top: -2rem;
  margin: 0% 10% 0% 10%;
}

.header-logo {
  grid-area: links;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header-logo img {
  width: 150px;
  height: 150px;
}
