.container {
  display: grid;
  grid-template-areas: "links links links";
  grid-gap: 1rem;
  margin-top: -2rem;
}

.links {
  grid-area: links;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.links p {
  margin: 1rem;
}
