body {
  background-color: black;
  color: white;
  margin-left: 10%;
  margin-right: 10%;
  line-height: 200%;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

h2 {
  margin: auto;
}

h3 {
  margin: auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Syncopate", sans-serif;
}

p {
  font-family: "Anaheim", sans-serif;
}
