body {
  background-color: black;
  color: white;
  line-height: 200%;
}

ul {
  padding: 0;
  font-family: "Anaheim", sans-serif;
}

li {
  list-style: none;
}

h2,
h3 {
  margin: auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Syncopate", sans-serif;
}

p,
a {
  font-family: "Anaheim", sans-serif;
}
