.app {
  text-align: center;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

body {
  background-color: black;
  color: white;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: white;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before,
.hvr-underline-from-left:focus:before,
.hvr-underline-from-left:active:before {
  right: 0;
}

/* Border Fade */
.hvr-border-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  box-shadow: inset 0 0 0 4px #e1e1e1, 0 0 1px rgba(0, 0, 0, 0);
  /* Hack to improve aliasing on mobile/tablet devices */
}
.hvr-border-fade:hover,
.hvr-border-fade:focus,
.hvr-border-fade:active {
  box-shadow: inset 0 0 0 4px black, 0 0 1px rgba(0, 0, 0, 0);
  /* Hack to improve aliasing on mobile/tablet devices */
}

.footer {
  grid-area: footer;
  text-align: center;
}

.box-1 {
  grid-area: box-1;
  text-align: center;
}
.box-2 {
  grid-area: box-2;
  text-align: center;
}

.content-1 {
  grid-area: content-1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-2 {
  grid-area: content-2;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-3 {
  grid-area: content-3;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar {
  grid-area: sidebar;
  text-align: center;
}

.header {
  grid-area: header;
  text-align: center;
}

.container-about {
  display: grid;
  grid-template-areas:
    "header header header  "
    "content-1 content-2 content-3 "
    "box-1 box-2 sidebar ";
  grid-gap: 1rem;
  margin: 2rem;
}

.container-main {
  display: grid;
  grid-template-areas:
    "main-box1 main-box1 main-box1"
    "links links links"
    "head head head"
    "key key key"
    "list list list ";
  grid-gap: 1rem;
  margin: 3rem 3rem 0rem 3rem;
}

/* .main-box1 {
  grid-area: main-box1;
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
} */

/* .main-box1 img {
  max-width: 75%;
  max-height: 75%;
} */

.links {
  grid-area: links;
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
  align-items: center;
}

.links p {
  display: flex;
  color: white;
  margin: 1rem;
}

.key {
  grid-area: key;
  justify-content: flex-start;
  margin-left: 12%;
  display: flex;
}

.head {
  grid-area: head;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  margin-left: 14%;
}

.list {
  grid-area: list;
}

.logo-signIn {
  max-width: 20%;
  height: auto;
}

.main-list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 2rem 2rem 3rem 2rem;
}

.main-list h1 {
  margin-right: 40%;
}

.container-signIn {
  display: grid;
  grid-template-areas:
    "logo logo logo"
    "image-signIn image-signIn image-signIn"
    "welcome welcome welcome";
  grid-gap: 1rem;
}

.welcome {
  grid-area: welcome;
  justify-content: center;
}

.logo {
  grid-area: logo;
  display: flex;
}

.image-signIn {
  grid-area: image-signIn;
}

.container-singleLaunchCard {
  display: grid;
  grid-template-areas:
    "singleLaunchCard-box1 singleLaunchCard-box1 singleLaunchCard-box1 "
    "singleLaunchCard-box2 singleLaunchCard-box2 singleLaunchCard-box2 "
    "singleLaunchCard-box3 singleLaunchCard-box3 singleLaunchCard-box3 ";
  grid-gap: 1rem;
  margin: 3rem;
}

.singleLaunchCard-box1 {
  grid-area: singleLaunchCard-box1;
}

.singleLaunchCard-box2 {
  grid-area: singleLaunchCard-box2;
}

.singleLaunchCard-box3 {
  grid-area: singleLaunchCard-box3;
}

.singleLaunchCard-box3 img {
  max-width: 50%;
  max-height: 50%;
}

.container-home {
  display: grid;
  grid-template-areas:
    "home-box1 home-box1 home-box1"
    "home-box1 home-box1 home-box1"
    "home-box1 home-box1 home-box1"
    "home-box2 home-box2 home-box2";
  grid-gap: 1rem;
  margin: 3rem;
}

.home-box1 {
  grid-area: home-box1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.home-box2 {
  grid-area: home-box2;
  margin: 3rem 15rem 3rem 15rem;
}

.home-box1 h1 {
  margin: 2rem;
}

.home-box1 button {
  padding: 0.5rem;
}

@media (max-width: 500px) {
  .container-about {
    grid-template-areas:
      "header  "
      "sidebar "
      "content-1  "
      "content-2 "
      "content-3"
      "box-1"
      "box-2";
  }

  .main-list {
    flex-direction: column;
  }

  .main-list h1 {
    margin-right: 0%;
  }

  .key {
    margin: 0;
    justify-content: center;
  }

  .rocket-image {
    width: 100%;
  }

  .logo {
    justify-content: center;
  }

  .logo-signIn {
    max-width: 50%;
    max-height: auto;
  }

  .head {
    grid-area: head;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-left: 0%;
  }

  .links {
    grid-area: links;
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .links p {
    font-size: 13px;
  }

  .singleLaunchCard-box3 img {
    max-width: 100%;
    max-height: 100%;
  }

  .main-box1 {
    justify-content: center;
    margin-right: 0%;
  }

  .singleLaunchCard-nav {
    justify-content: center;
    margin-right: 0%;
  }

  .singleLaunchCard-logo {
    justify-content: center;
    margin: 0%;
  }

  .container-main {
    margin: 3rem 0rem 0rem 0rem;
  }

  .container-singleLaunchCard {
    grid-template-areas:
      "singleLaunchCard-box1 "
      "singleLaunchCard-box2 "
      "singleLaunchCard-box3 ";
    justify-content: center;
  }
  .container-home {
    grid-template-areas:
      "home-box1"
      "home-box2 ";
  }
  .home-box1 {
    grid-area: home-box1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0rem 2rem 0rem 2rem;
  }

  .home-box1 img {
    max-width: 100%;
    max-height: 100%;
    margin-top: 2rem;
  }
  .home-box2 {
    grid-area: home-box2;
    margin: 2rem;
  }
}
