.launches-container {
  display: grid;
  grid-gap: 1rem;
  grid-template-areas:
    "launches-keys launches-keys launches-keys"
    " launches-search-form launches-search-form launches-search-form "
    "launches-card launches-card launches-card";
  margin: 0% 10% 0% 10%;
}

.launches-keys {
  grid-area: launches-keys;
}

.launches-search-form {
  grid-area: launches-search-form;
}

.launches-card {
  grid-area: launches-card;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.launches-card p {
  text-align: center;
}
.launches-card li {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  background-color: #080808;
}

.launches-card img {
  width: 10%;
  height: 10%;
}

.launches-link {
  margin-left: auto;
  margin-right: 3rem;
}

@media (max-width: 500px) {
  .launches-container {
    grid-template-areas:
      "launches-keys "
      "launches-search-form "
      "launches-card";
  }
  .launches-card li {
    flex-direction: column;
  }

  .launches-card li h1 {
    font-size: 1rem;
  }
  .launches-link {
    margin: 0;
  }
  .launches-card img {
    width: 50%;
    height: 50%;
  }
  .launches-keys h1 {
    text-align: center;
  }
}
