.launches-container {
  display: grid;
  grid-gap: 1rem;
  grid-template-areas:
    "header header header"
    "keys keys keys"
    "launches launches launches";
}

.keys {
  grid-area: keys;
}

.keys div {
  display: flex;
}

.header {
  grid-area: header;
}

.launches {
  grid-area: launches;
}

.launches ul {
  display: grid;
  grid-template-columns: 1fr;
}

.launches li {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  background-color: #080808;
}

.launches img {
  width: 10%;
  height: 10%;
}

.launches-link {
  margin-left: auto;
  margin-right: 3rem;
}
